body{
  background-color: rgb(186, 179, 179);
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content{
  background-color: #fff;
  border-radius: 20px;
  min-width: 40%;
  height: min-content;
  max-height: 80%;
  padding: 20px;
  text-align: center;
}
.tasks{
  overflow-y: scroll;
}
.task{
  padding: 5px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px rgb(146, 144, 144) solid;
}
.task span{
  display: inline;
  font-size: 35px;
  padding-bottom: 7px;
  color: #333;
}
.task svg{
  margin: 15px;
  color:rgb(146, 144, 144)
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
}
.footer button{
  height: max-content;
  font-size: 22px;
}